<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>📰 News Aggregator</h1>

    <!-- DARK MODE -->
    <button onclick="toggleTheme()">🌙 Toggle Dark Mode</button>

    <div class="container">

        {% for article in articles %}

        <div class="card">
            <h2>{{ article[1] }}</h2>

            <p>{{ article[3] }}</p>

            <p><b>Источник:</b> {{ article[5] }}</p>

            <p><b>Категория:</b> {{ article[6] }}</p>

            <p>
                <a href="{{ article[2] }}" target="_blank">Открыть источник</a>
            </p>

            <div class="tags">
                {% for tag in article[7].split(',') %}
                    <span class="tag">#{{ tag }}</span>
                {% endfor %}
            </div>
        </div>

        {% endfor %}

    </div>

<script>
function toggleTheme() {
    document.body.classList.toggle("dark");
    localStorage.setItem(
        "theme",
        document.body.classList.contains("dark") ? "dark" : "light"
    );
}

window.onload = function () {
    if (localStorage.getItem("theme") === "dark") {
        document.body.classList.add("dark");
    }
}
</script>

</body>
</html>